.display-4{
    font-weight: bold;
}
.para1{
    font-size: 20px;
}
.okk2{
    margin-left: 200px;
}
#okk3{
    margin-left: 190px;
}
#mus1{
    margin-left: 450px;
    margin-top: -50px;
}
#imagee2{
    width: 1000px;
}
.ho1{
    margin-left: 600px;
    font-size: 20px;
    margin-top: -100px;
}
.imagee1{
    width: 500px;
}
#button1{
    width: 250px;
}
.navbar-nav .nav-item {
    margin-right: 15px; 
}
.button3{
    width: 400px;
}